body {
    background-color: #1d4221;
    color: rgb(32, 151, 11);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: rgb(6, 147, 1);
    font-family: "Bai Jamjuree", sans-serif;
}